
.contacto__title{
    color: #153b58;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

.form{
    width: 400px;
    margin: auto;
    background: rgb(245, 239, 239);
    padding: 15px 25px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
     
  }
  .form h2 {
    color: #1f4f74;
    text-align: center;
    font-size: 3rem;
    margin: 0;
    margin-bottom: 15px;
   }
  
  
 
  .form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
     
  }
  .button {
    width: 290px;
    height: 50px;
    background-color: #2b5f86;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    display: block;
    margin: auto;
   }
  
  .button:hover {
    color: #0d1f2e;
    font-size: 1.3rem;
    transition: all 400ms ease; 
    cursor: pointer;
  }
  .form__textarea{
    border: none;
    outline: none;
    width: 100%;
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 12px;
    color: black;
  }
  .label{
    color: rgb(128, 118, 118);
    font-size: 20px;
  }
  